.paper {
    width: 700px;
    height: 500px;
    margin: auto;
}

.paper-text {
    padding: 105px;
}

.numberCell {
    width: 135px;
}

.commentsCell {
    padding-left: 30px;
}

.paperTable {
    margin-left: 50px;
    margin-right: 50px;
}